@import "normalize.less";

body {
    background: rgb(26, 36, 134);
    background: linear-gradient(180deg, rgba(26, 36, 134, 1) 35%, rgba(41, 71, 195, 1) 100%);
}

section {
}

.control {
    display: flex;
    background: #f1f1f1;
    border: 0.1em solid #000;
    border-radius: 0.5em;
    padding: 2em;
    margin: 2em;

    .reading {
        min-width: 15em;
        padding: 0.5em 0.5em 0 0.5em;

        header {
            display: block;
            position: relative;

            h4 {
                margin: 0;
            }
        }

        h1 {
            text-align: center;
            font-size: 3.35em;
            margin: 0.75em 0 0.65em 0;
        }

        footer {
            display: block;
            color: #999;
            text-align: right;
        }
    }

    .chart {
        margin-left: 3em;
        width: 100%;

        & > div {
            max-height: 180px;
            width: 100%;
            position: relative;
        }
    }
}

.status {
    display: block;
    position: absolute;
    border-radius: 50%;
    min-height: 0.8em;
    min-width: 0.8em;
    top: 0;
    right: 0;

    &.on {
        background: #2ccf2c;
    }

    &.off {
        background: #da2f2f;
    }

    &.disabled {
        background: #d8d8d8;
    }
}
